
<style>
#competitionAnswerCtr {
	margin: 50px;
}

#competitionAnswerCtr p {
	word-break: break-all;
}

#competitionAnswerCtr div {
	word-break: break-all;
}

#competitionAnswerDialog {
	margin: 0;
	width: 100%;
	text-align: center;
}

#competitionAnswerDialog .modal-header {
	border-bottom: 0;
}

#competitionAnswerDialog .modal-dialog {
	width: 90%;
}

#competitionAnswerDialog textarea {
	width: 90%;
}
</style>
<div id="competitionAnswerCtr" ng-controller="competitionAnswerCtr">
	<div class="col-md-4">
		<div class="panel panel-info ">
			<div class="panel-heading">基本信息</div>
			<div class="panel-body">
				<p>比赛编号：{{loginObj.competitionId}}</p>
				<p>比赛名称：{{loginObj.competitionName}}</p>
				<p>比赛结束时间：{{loginObj.competitionEndTime|
					stringDateFormat:'yyyy-MM-dd HH:mm:ss'}}</p>
				<p>登录账号：{{loginObj.account}}</p>
				<p>账号备注信息：{{competitionData.accountRemark}}</p>
				<button class="btn btn-danger" type="button" ng-click="logout()">退出登录</button>
			</div>
		</div>

		<div class="panel panel-success ">
			<div class="panel-heading">题目列表</div>
			<div class="panel-body">
				<div class="alert alert-success alert-dismissable"
					ng-if="isLoadingData">加载数据中，请稍等</div>
				<div class="list-group" ng-if="!isLoadingData">
					<a href="javascript:;" class="list-group-item"
						ng-repeat="problem in competitionData.competitionProblems"
						ng-click="detail($index)">
						<h4 class="list-group-item-heading">
							{{problem.qname}} <label ng-if="problem.isHaveSubmit">(已提交)</label>
						</h4>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<div class="panel panel-primary ">
			<div class="panel-heading">题目信息</div>
			<div class="panel-body">
				<div class="alert alert-success alert-dismissable"
					ng-if="isLoadingData">加载数据中，请稍等</div>
				<div ng-if="!isLoadingData && detailProblemObj != null">
					<p>内存限制：{{detailProblemObj.limitMemory}}KB&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时间限制：{{detailProblemObj.limitTime}}ms</p>
					<br />
					<div>
						<div style="border: 1px solid rgba(34,36,38,.15);margin-right: 1%">
							<div style="display:inline-block;">
								<div style="margin: 1rem 1rem;">
									<p id="detailProblemContent">
										{{detailProblemObj.qdescribe}}
									</p>
								</div>
								<div style="line-height: 2.0rem !important;font-size: 1.1rem !important;color: #333333;">
									<div style="display: table;white-space: nowrap;height: auto;line-height: 1;margin: 0rem 1rem;">
										<h3 style="font-size: 20px;font-weight: bold;">输入要求</h3>
									</div>
									<div style="background: #F3F4F5;color: rgba(0,0,0,.6);position: relative;background: #F3F4F5;box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);margin: 1rem 1rem;font-size: 1rem;padding: 1em;border-radius: .28571429rem;border: 1px solid rgba(34,36,38,.15);">
										<p style="margin: 0 0 1em;line-height: 1.4285em;"></p>
										{{detailProblemObj.inputDescribe}}
									</div>
								</div>
								<div style="line-height: 2.0rem !important;font-size: 1.1rem !important;color: #333333;">
									<div style="display: table;white-space: nowrap;height: auto;line-height: 1;margin: 0rem 1rem;">
										<h3 style="font-size: 20px;font-weight: bold;">输出要求</h3>
									</div>
									<div style="background: #F3F4F5;color: rgba(0,0,0,.6);position: relative;background: #F3F4F5;box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);margin: 1rem 1rem;font-size: 1rem;padding: 1em;border-radius: .28571429rem;border: 1px solid rgba(34,36,38,.15);">
										<p style="margin: 0 0 1em;line-height: 1.4285em;">{{detailProblemObj.outputDescripe}}</p>
									</div>
								</div>
								<div style="line-height: 2.0rem !important;font-size: 1.1rem !important;color: #333333;">
									<div style="display: table;white-space: nowrap;height: auto;line-height: 1;margin: 0rem 1rem;">
										<h3 style="font-size: 20px;font-weight: bold;">测试数据</h3>
									</div>
									<div>
										<div style="display: inline-block;width:49%;">
											<div style="margin: 0rem 1rem">输入示例</div>
											<div>
												<textarea style="resize: none;background: #F3F4F5;color: rgba(0,0,0,.6);position: relative;background: #F3F4F5;box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);margin: 1rem 1rem;font-size: 1rem;padding: 1em;border-radius: .28571429rem;border: 1px solid rgba(34,36,38,.15);" ng-model="exampleInput" id="exampleInput" ></textarea>
											</div>
										</div>
										<div style="display: inline-block;width:49%;">
											<div style="margin: 0rem 1rem">输出示例</div>
											<div>
												<textarea style="resize: none;background: #F3F4F5;color: rgba(0,0,0,.6);position: relative;background: #F3F4F5;box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);margin: 1rem 1rem;font-size: 1rem;padding: 1em;border-radius: .28571429rem;border: 1px solid rgba(34,36,38,.15);" id="exampleOutput" ng-model="exampleOutput" ></textarea>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div>
							<br/>
							<div>
								<div style="display: table;white-space: nowrap;height: auto;line-height: 1;margin: 0rem 1rem;">
									<h3 style="font-size: 20px;font-weight: bold;">提交代码</h3>
								</div>
							</div>
							<div style="border: 1px solid rgba(34,36,38,.15);margin-right: 1%">
								<div style="width:70%;display: inline-block">
									<div style="margin: 1% 1%">
										<select ng-model="answerData.codeLanguage">
											<option value="java">java</option>
											<option value="c">c</option>
											<option value="c++">c++</option>
										</select>
									</div>
									<div style="margin: 1% 1%">
										<strong>代码</strong>
									</div>
									<div style="margin: 1% 1%;background-color: #cccccc" contenteditable=true id="code">
										<!--<textarea rows="20" cols="100" ng-model="answerData.code"  style="width: 100%;resize: none;"></textarea>-->
									</div>
								</div>
								<div style="width:28%;display: inline-block">
									<div style="margin: 1% 1%">
										<strong>评测详情</strong>
									</div>
									<div style="margin: 0% 1%;" contenteditable=true id="message">
									</div>
								</div>
							</div>
						</div>
						<button class="btn btn-success" type="button" ng-click="answerDialogShow()">提交答案</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
