<style>
    #problemContent {
        margin: 50px;
    }
</style>
<div id="problemContent" ng-controller="problemClassification">
    <div>
        <div class="ui breadcrumb" id="wejudge_breadcrumb_navbar" style="margin-bottom: 10px;">
            <a href="/"><i class=""></i>首页</a>
            <i class="right chevron icon divider"></i>
            <a class="section" href="">题目列表</a>
            <i class="right chevron icon divider"></i>
            <!--<a class="section" href="">C语言基础题库</a>
            <i class="right chevron icon divider"></i>-->
            <font style=""></font>
        </div>
    </div>

    <ul id="myTab" class="nav nav-tabs" style="margin: 0.5% 0.5%;">
        <li class="active" style="margin-left: 0%">
            <a href="/#codeList" data-toggle="tab"  target="_self">题目列表</a>
        </li>
        <li><a href="/#evaluateHistory" data-toggle="tab" ng-click="evaluateHistory()"  target="_self">评测历史</a></li>
    </ul>

    <div id="myTabContent" class="tab-content" style="margin-right: 1%">
        <div class="tab-pane fade in active" id="codeList">
            <div class="panel panel-primary">
                <div class="panel-heading">{{problemTypeName}}</div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="col-md-1">编号</th>
                                <th class="col-md-1">题目类型</th>
                                <th class="col-md-2">题目名字</th>
                                <th class="col-md-1">题目难度</th>
                                <th class="col-md-1">答对率</th>
                                <th class="col-md-1">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="problem in page.datas">
                            <td class="col-md-1">{{problem.qid}}</td>
                            <td class="col-md-1">{{problem.qtype}}</td>
                            <td class="col-md-2">{{problem.qname}}</td>
                            <td class="col-md-1">{{problem.qdegree}}</td>
                            <td class="col-md-1">{{problem.totalRightCount/problem.totalSubmitCount|
                                number:2}}({{problem.totalRightCount}}/{{problem.totalSubmitCount}})
                            </td>
                            <td class="col-md-1"><a class="btn btn-success "
                                                    type="button" href="#/problem/detail"
                                                    ng-click="jumpDetail($index)">详情</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="pager">
                    <li><a href="javascript:;" ng-if="isCanPre"
                           ng-click="changePage(false)">&laquo;上一页</a></li>
                    <li class="active"><span>页码：{{page.currentPage}}/{{page.totalPage}}
					&nbsp; &nbsp;总条数：<span class="badge">{{page.totalCount}}</span>
			</span></li>
                    <li><a href="javascript:;" ng-if="isCanNext"
                           ng-click="changePage(true)">下一页&raquo;</a></li>
                </ul>
            </div>
        </div>
        <div class="tab-pane fade" id="evaluateHistory" style="margin-right: 1%">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>题目ID</th>
                        <th>提交者</th>
                        <th>评测结果</th>
                        <th>最大运行时长</th>
                        <th>最大内存用量</th>
                        <th>代码长度</th>
                        <th>代码语言</th>
                        <th>提交时间</th>
                    </tr>
                </thead>
                <tbody ng-if="datas.length!=0">
                    <tr ng-repeat="problem in datas" >
                        <td>{{$index+1}}</td>
                        <td>{{problem.submitProblemId}}</td>
                        <td>{{problem.submitProblemId}}</td>
                        <td>{{problem.isAccepted==1?"通过":"没通过"}}</td>
                        <td>{{problem.submitProblemId}}</td>
                        <td>{{problem.submitProblemId}}</td>
                        <td>{{problem.code.length}}</td>
                        <td>{{problem.codeLanguage}}</td>
                        <td>{{problem.submitTime}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>