<style>
#problemDetailContent {

	margin-top: 1%;
	margin-left: 3%;
	padding: 0;
	overflow-x: hidden;
	min-width: 320px;
	background: #FFF;
	font-family: 'Microsoft Yahei','Helvetica Neue',Arial,Helvetica,sans-serif;
	font-size: 14px;
	line-height: 1.4285em;
	color: rgba(0,0,0,.87);
	font-smoothing: antialiased;


    /*margin-left: 100px;
	margin-right: 100px;
	margin-top: 50px;
	word-break: break-all;
	text-align: center;*/
}

#answerDialog {
	margin: 0;
	width: 100%;
	text-align: center;
}

#answerDialog .modal-header {
	border-bottom: 0;
}

#problemDetailContent .modal-dialog {
	width: 90%;
}

#problemDetailContent textarea {
	width: 90%;
}
</style>

<div id="problemDetailContent" ng-controller="problemDetailCtr">
	<div>
		<div class="ui breadcrumb" id="wejudge_breadcrumb_navbar" style="margin-bottom: 10px;">
			<a href="/"><i class=""></i>首页</a>
			<i class="right chevron icon divider"></i>
			<a class="section" href="">题目列表</a>
			<i class="right chevron icon divider"></i>
			<!--<a class="section" href="">C语言基础题库</a>
            <i class="right chevron icon divider"></i>-->
			<font style="">题目{{problemDetailObj.qid}}：{{problemDetailObj.qname}}!</font>
		</div>
	</div>
	<h2>{{problemDetailObj.problemName}}</h2>




	<ul id="myTab" class="nav nav-tabs" style="margin: 0.5% 0.5%;">
		<li class="active" style="margin-left: 0%">
			<a href="/#codeDetail" data-toggle="tab"  target="_self">题目正文</a>
		</li>
		<li><a href="/#myRecord" ng-click="myRecord()" data-toggle="tab"  target="_self">我的记录</a></li>
		<li><a href="/#evaluateStatistics" ng-click="evaluateStatistics()" data-toggle="tab"  target="_self">评测统计</a></li>
	</ul>
	<div id="myTabContent" class="tab-content" style="margin-right: 1%">
		<div class="tab-pane fade in active" id="codeDetail">
			<div>
				<div style="border: 1px solid rgba(34,36,38,.15);margin-right: 1%">
					<div style="display:inline-block;width:73%;border: 1px solid rgba(34,36,38,.15);">
						<div style="margin: 1rem 1rem;">
							<p id="detailProblemContent">
								{{problemDetailObj.qdescribe}}
							</p>
						</div>
						<div style="line-height: 2.0rem !important;font-size: 1.1rem !important;color: #333333;">
							<div style="display: table;white-space: nowrap;height: auto;line-height: 1;margin: 0rem 1rem;">
								<h3 style="font-size: 20px;font-weight: bold;">输入要求</h3>
							</div>
							<div style="background: #F3F4F5;color: rgba(0,0,0,.6);position: relative;background: #F3F4F5;box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);margin: 1rem 1rem;font-size: 1rem;padding: 1em;border-radius: .28571429rem;border: 1px solid rgba(34,36,38,.15);">
								<p style="margin: 0 0 1em;line-height: 1.4285em;"></p>
								{{problemDetailObj.inputDescribe}}
							</div>
						</div>
						<div style="line-height: 2.0rem !important;font-size: 1.1rem !important;color: #333333;">
							<div style="display: table;white-space: nowrap;height: auto;line-height: 1;margin: 0rem 1rem;">
								<h3 style="font-size: 20px;font-weight: bold;">输出要求</h3>
							</div>
							<div style="background: #F3F4F5;color: rgba(0,0,0,.6);position: relative;background: #F3F4F5;box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);margin: 1rem 1rem;font-size: 1rem;padding: 1em;border-radius: .28571429rem;border: 1px solid rgba(34,36,38,.15);">
								<p style="margin: 0 0 1em;line-height: 1.4285em;">{{problemDetailObj.outputDescripe}}</p>
							</div>
						</div>
						<div style="line-height: 2.0rem !important;font-size: 1.1rem !important;color: #333333;">
							<div style="display: table;white-space: nowrap;height: auto;line-height: 1;margin: 0rem 1rem;">
								<h3 style="font-size: 20px;font-weight: bold;">测试数据</h3>
							</div>
							<div>
								<div style="display: inline-block;width:49%;">
									<div style="margin: 0rem 1rem">输入示例</div>
									<div style="background: #F3F4F5;color: rgba(0,0,0,.6);position: relative;background: #F3F4F5;box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);margin: 1rem 1rem;font-size: 1rem;padding: 1em;border-radius: .28571429rem;border: 1px solid rgba(34,36,38,.15);">
										<p style="margin: 0 0 1em;line-height: 1.4285em;">
											<textarea ng-model="exampleInput" disabled="disabled" class="bianji-textarea-l"></textarea>
											{{problemDetailObj.exampleInput}}
											<div contenteditable="true">
										{{problemDetailObj.exampleInput}}
									</div>
										</p>
									</div>
								</div>
								<div style="display: inline-block;width:49%;">
									<div style="margin: 0rem 1rem">输出示例</div>
									<div style="background: #F3F4F5;color: rgba(0,0,0,.6);position: relative;background: #F3F4F5;box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);margin: 1rem 1rem;font-size: 1rem;padding: 1em;border-radius: .28571429rem;border: 1px solid rgba(34,36,38,.15);">
										<p style="margin: 0 0 1em;line-height: 1.4285em;">
											{{problemDetailObj.exampleOutput}}
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div style="display:inline-block;width:24%;height: 100%;margin-top: -2%;margin-right: 1%">
						<table style="width: 100%;
    margin: 1em 0;
    border-radius: .28571429rem;
    text-align: left;
    color: rgba(0,0,0,.87);
    border-collapse: separate;
    border-spacing: 0;">
							<tbody style="display: table-row-group;
    vertical-align: middle;
    border-color: inherit;">
							<tr style="display: table-row;
    vertical-align: inherit;
    border-color: inherit;border-bottom: 1px solid rgba(0,0,0,.1);">
								<td style="display: table-cell;vertical-align: inherit;"><strong>类型</strong></td>
								<td>{{problemDetailObj.qtype}}</td>
							</tr>
							<tr>
								<td><strong>内存限制</strong></td>
								<td>{{problemDetailObj.limitMemory}}KB</td>
							</tr>
							<tr>
								<td><strong>时间限制</strong></td>
								<td>{{problemDetailObj.limitTime}}ms</td>
							</tr>
							<tr>
								<td><strong>难度</strong></td>
								<td>{{problemDetailObj.qdegree}}</td>
							</tr>
							</tbody>
						</table>
						<p>类型：{{problemDetailObj.typeName}}</p>
						<p>标签：{{problemDetailObj.problemLabel}}</p>
						<p>内存限制：{{problemDetailObj.memoryLimit}}KB&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时间限制：{{problemDetailObj.timeLimit}}毫秒</p>
						<p>难度：{{problemDetailObj.problemDifficulty}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价值：{{problemDetailObj.problemValue}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;版本：{{problemDetailObj.problemVersion}}</p>
					</div>
				</div>
				<div>
					<br/>
					<div>
						<div style="display: table;white-space: nowrap;height: auto;line-height: 1;margin: 0rem 1rem;">
							<h3 style="font-size: 20px;font-weight: bold;">提交代码</h3>
						</div>
					</div>
					<div style="border: 1px solid rgba(34,36,38,.15);margin-right: 1%">
						<div style="width:70%;display: inline-block">
							<div style="margin: 1% 1%">
								<select ng-model="answerData.codeLanguage">
									<option value="java">java</option>
									<option value="c">c</option>
									<option value="c++">c++</option>
								</select>
							</div>
							<div style="margin: 1% 1%">
								<textarea rows="20" cols="100" ng-model="answerData.code"  style="width: 100%;resize: none;"></textarea>
							</div>
						</div>
						<div style="width:28%;display: inline-block">
							<div style="margin: 1% 1%">
								<strong>评测详情</strong>
							</div>
							<div style="margin: 0% 1%;">
								<textarea rows="20" cols="130"  disabled="disabled" style="overflow-y:hidden;resize: none;background-color: white;font-size:20px; ">{{message}}</textarea>
							</div>
						</div>
					</div>
					<br>
					<button class="btn btn-success" type="button" ng-click="answerSubmit()" ng-disabled="answerStatus.disabled">{{answerStatus.buttonText}}</button>
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="myRecord" style="margin-right: 1%">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>题目ID</th>
						<th>提交者</th>
						<th>评测结果</th>
						<th>最大运行时长</th>
						<th>最大内存用量</th>
						<th>代码长度</th>
						<th>代码语言</th>
						<th>提交时间</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Tanmay</td>
						<td>Bangalore</td>
						<td>560001</td>
						<td>Sachin</td>
						<td>Mumbai</td>
						<td>400003</td>
						<td>Uma</td>
						<td>Pune</td>
						<td>411027</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="tab-pane fade" id="evaluateStatistics" style="margin: 1% 1%">
            <div style="border: 1px solid rgba(34,36,38,.15);">
				<br>
                <line id="line" legend="legend" item="item" data="data" style="display: inline-block"></line>
				<histogram id="histogram" style="display: inline-block"></histogram>
            </div>
		</div>
	</div>
</div>
<script>
    $(".bianji-textarea-l").height($(".bianji-textarea-l")[0].scrollHeight);
    $(".bianji-textarea-l").on("keyup keydown", function(){
        $(this).height(this.scrollHeight);
    })
</script>
